Final Project Submission

Student name: LYNN WANJIKU NDERO

Student pace: Full time

Scheduled project review date/time:

Instructor name:

Blog post URL

PROJECT TITLE

Business Understanding

Problem Statement

Main Objective

Determine the most popluar movie genres with great earnings....

Specific Objectives

1. Identify the top_ten best films
2. Evaluate the gross collected from the films 
3. Identify the success criteria of the films to the movie studios

Import the pandas library

In [2]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Open 'bom.movies_gross.csv' data using pd.read_csv

In [3]:
movies_df = pd.read_csv('bom.movie_gross.csv')

In [4]:
movies_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

imported SQLITE3 library and opened 'IM.DB' file by query

In [5]:
conn = sqlite3.connect('im.db')
# Load data from SQLite database
conn = sqlite3.connect('im.db')
movie_basics = pd.read_sql_query('SELECT * FROM movie_basics', conn)
movie_ratings = pd.read_sql_query('SELECT * FROM movie_ratings', conn)

In [6]:
movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [7]:
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

2. DATA PREPARATION

2.1 Discovering how many missing values are there in movie_df

In [8]:
movies_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [9]:
movies_df.shape

(3387, 5)

In [10]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3387 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3387 non-null   object
 1   studio          3382 non-null   object
 2   domestic_gross  3359 non-null   float64
 3   foreign_gross   2037 non-null   object
 4   year            3387 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 132.4+ KB

2.1.2 Drop rows from movie_df with missing values

2.1.2.1 Studio column

In [11]:
movies_df.dropna(subset='studio', inplace = True)

In [12]:
movies_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

2.1.2.2 Domestic_gross columns

In [13]:
movies_df.dropna(subset = 'domestic_gross', inplace = True)

In [14]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3356 entries, 0 to 3386
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           3356 non-null   object
 1   studio          3356 non-null   object
 2   domestic_gross  3356 non-null   float64
 3   foreign_gross   2007 non-null   object
 4   year            3356 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 157.3+ KB

In [15]:
movies_df = movies_df.dropna()

In [16]:
movies_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2007 entries, 0 to 3353
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           2007 non-null   object
 1   studio          2007 non-null   object
 2   domestic_gross  2007 non-null   float64
 3   foreign_gross   2007 non-null   object
 4   year            2007 non-null   int64
dtypes: float64(1), int64(1), object(3)
memory usage: 94.1+ KB

2.2 Discovering how many missing values are there in movie_basics

In [17]:
movie_basics

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,None
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [18]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 146144 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146144 non-null  object
 1   primary_title    146144 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146144 non-null  int64
 4   runtime_minutes  114405 non-null  float64
 5   genres           140736 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.7+ MB

In [19]:
movie_basics.dropna(subset= 'original_title', inplace = True)

In [20]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 146123 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         146123 non-null  object
 1   primary_title    146123 non-null  object
 2   original_title   146123 non-null  object
 3   start_year       146123 non-null  int64
 4   runtime_minutes  114401 non-null  float64
 5   genres           140734 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 7.8+ MB

In [21]:
movie_basics.dropna(subset= 'genres', inplace = True)

In [22]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 140734 entries, 0 to 146143
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         140734 non-null  object
 1   primary_title    140734 non-null  object
 2   original_title   140734 non-null  object
 3   start_year       140734 non-null  int64
 4   runtime_minutes  112232 non-null  float64
 5   genres           140734 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 7.5+ MB

In [23]:
movie_basics = movie_basics.dropna()

In [24]:
movie_basics.info()

<class 'pandas.core.frame.DataFrame'>
Index: 112232 entries, 0 to 146139
Data columns (total 6 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   movie_id         112232 non-null  object
 1   primary_title    112232 non-null  object
 2   original_title   112232 non-null  object
 3   start_year       112232 non-null  int64
 4   runtime_minutes  112232 non-null  float64
 5   genres           112232 non-null  object
dtypes: float64(1), int64(1), object(4)
memory usage: 6.0+ MB

2.3 Discovering how many missing values are there in movie_ratings

In [25]:
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]

In [26]:
movie_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73856 entries, 0 to 73855
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   movie_id       73856 non-null  object
 1   averagerating  73856 non-null  float64
 2   numvotes       73856 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.7+ MB

Merging the tables using movie_id column

In [27]:
movies_reviews_and_rating = movie_basics.merge(movie_ratings, on='movie_id').merge(movies_df, left_on='primary_title', right_on='title')

In [28]:
movies_reviews_and_rating

,movie_id,primary_title,original_title,start_year,runtime_minutes,genres,averagerating,numvotes,title,studio,domestic_gross,foreign_gross,year
0,tt0337692,On the Road,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,On the Road,IFC,744000.0,8000000,2012
1,tt4339118,On the Road,On the Road,2014,89.0,Drama,6.0,6,On the Road,IFC,744000.0,8000000,2012
2,tt5647250,On the Road,On the Road,2016,121.0,Drama,5.7,127,On the Road,IFC,744000.0,8000000,2012
3,tt0359950,The Secret Life of Walter Mitty,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,The Secret Life of Walter Mitty,Fox,58200000.0,129900000,2013
4,tt0365907,A Walk Among the Tombstones,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,A Walk Among the Tombstones,Uni.,26300000.0,26900000,2014
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1762,tt7752454,Detective Chinatown 2,Tang ren jie tan an 2,2018,121.0,"Action,Comedy,Mystery",6.1,1250,Detective Chinatown 2,WB,2000000.0,542100000,2018
1763,tt7784604,Hereditary,Hereditary,2018,127.0,"Drama,Horror,Mystery",7.3,151571,Hereditary,A24,44100000.0,35300000,2018
1764,tt8097306,Nobody's Fool,Nobody's Fool,2018,110.0,"Comedy,Drama,Romance",4.6,3618,Nobody's Fool,Par.,31700000.0,1800000,2018
1765,tt8404272,How Long Will I Love U,Chao shi kong tong ju,2018,101.0,Romance,6.5,607,How Long Will I Love U,WGUSA,747000.0,82100000,2018
1766,tt9151704,Burn the Stage: The Movie,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Burn the Stage: The Movie,Trafalgar,4200000.0,16100000,2018

In [30]:
#drop all duplicates
movies_reviews_and_rating = movies_reviews_and_rating.drop(columns=['original_title','title'])

In [31]:
movies_reviews_and_rating

,movie_id,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,year
0,tt0337692,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,744000.0,8000000,2012
1,tt4339118,On the Road,2014,89.0,Drama,6.0,6,IFC,744000.0,8000000,2012
2,tt5647250,On the Road,2016,121.0,Drama,5.7,127,IFC,744000.0,8000000,2012
3,tt0359950,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,58200000.0,129900000,2013
4,tt0365907,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,Uni.,26300000.0,26900000,2014
...,...,...,...,...,...,...,...,...,...,...,...
1762,tt7752454,Detective Chinatown 2,2018,121.0,"Action,Comedy,Mystery",6.1,1250,WB,2000000.0,542100000,2018
1763,tt7784604,Hereditary,2018,127.0,"Drama,Horror,Mystery",7.3,151571,A24,44100000.0,35300000,2018
1764,tt8097306,Nobody's Fool,2018,110.0,"Comedy,Drama,Romance",4.6,3618,Par.,31700000.0,1800000,2018
1765,tt8404272,How Long Will I Love U,2018,101.0,Romance,6.5,607,WGUSA,747000.0,82100000,2018
1766,tt9151704,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Trafalgar,4200000.0,16100000,2018

In [32]:
movies_reviews_and_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         1767 non-null   object
 1   primary_title    1767 non-null   object
 2   start_year       1767 non-null   int64
 3   runtime_minutes  1767 non-null   float64
 4   genres           1767 non-null   object
 5   averagerating    1767 non-null   float64
 6   numvotes         1767 non-null   int64
 7   studio           1767 non-null   object
 8   domestic_gross   1767 non-null   float64
 9   foreign_gross    1767 non-null   object
 10  year             1767 non-null   int64
dtypes: float64(3), int64(3), object(5)
memory usage: 152.0+ KB

In [33]:
#replace datatype 'foreign_gross' from string to float
movies_reviews_and_rating['foreign_gross'] = movies_reviews_and_rating['foreign_gross'].str.replace(',','').astype(float)

In [34]:
movies_reviews_and_rating.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1767 entries, 0 to 1766
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   movie_id         1767 non-null   object
 1   primary_title    1767 non-null   object
 2   start_year       1767 non-null   int64
 3   runtime_minutes  1767 non-null   float64
 4   genres           1767 non-null   object
 5   averagerating    1767 non-null   float64
 6   numvotes         1767 non-null   int64
 7   studio           1767 non-null   object
 8   domestic_gross   1767 non-null   float64
 9   foreign_gross    1767 non-null   float64
 10  year             1767 non-null   int64
dtypes: float64(4), int64(3), object(4)
memory usage: 152.0+ KB

3. EXPLORATORY ANALYSIS

List of top_ten movies based on numvotes and averagerating columns

In [36]:
movies_reviews_and_rating

,movie_id,primary_title,start_year,runtime_minutes,genres,averagerating,numvotes,studio,domestic_gross,foreign_gross,year
0,tt0337692,On the Road,2012,124.0,"Adventure,Drama,Romance",6.1,37886,IFC,744000.0,8000000.0,2012
1,tt4339118,On the Road,2014,89.0,Drama,6.0,6,IFC,744000.0,8000000.0,2012
2,tt5647250,On the Road,2016,121.0,Drama,5.7,127,IFC,744000.0,8000000.0,2012
3,tt0359950,The Secret Life of Walter Mitty,2013,114.0,"Adventure,Comedy,Drama",7.3,275300,Fox,58200000.0,129900000.0,2013
4,tt0365907,A Walk Among the Tombstones,2014,114.0,"Action,Crime,Drama",6.5,105116,Uni.,26300000.0,26900000.0,2014
...,...,...,...,...,...,...,...,...,...,...,...
1762,tt7752454,Detective Chinatown 2,2018,121.0,"Action,Comedy,Mystery",6.1,1250,WB,2000000.0,542100000.0,2018
1763,tt7784604,Hereditary,2018,127.0,"Drama,Horror,Mystery",7.3,151571,A24,44100000.0,35300000.0,2018
1764,tt8097306,Nobody's Fool,2018,110.0,"Comedy,Drama,Romance",4.6,3618,Par.,31700000.0,1800000.0,2018
1765,tt8404272,How Long Will I Love U,2018,101.0,Romance,6.5,607,WGUSA,747000.0,82100000.0,2018
1766,tt9151704,Burn the Stage: The Movie,2018,84.0,"Documentary,Music",8.8,2067,Trafalgar,4200000.0,16100000.0,2018

In [57]:
movie_genres_ratings = movies_reviews_and_rating[['movie_id','genres','averagerating','numvotes','studio','year']]
movie_genres_ratings

,movie_id,genres,averagerating,numvotes,studio,year
0,tt0337692,"Adventure,Drama,Romance",6.1,37886,IFC,2012
1,tt4339118,Drama,6.0,6,IFC,2012
2,tt5647250,Drama,5.7,127,IFC,2012
3,tt0359950,"Adventure,Comedy,Drama",7.3,275300,Fox,2013
4,tt0365907,"Action,Crime,Drama",6.5,105116,Uni.,2014
...,...,...,...,...,...,...
1762,tt7752454,"Action,Comedy,Mystery",6.1,1250,WB,2018
1763,tt7784604,"Drama,Horror,Mystery",7.3,151571,A24,2018
1764,tt8097306,"Comedy,Drama,Romance",4.6,3618,Par.,2018
1765,tt8404272,Romance,6.5,607,WGUSA,2018
1766,tt9151704,"Documentary,Music",8.8,2067,Trafalgar,2018

In [58]:
#get a list of the top ten movie genres based on average rating
Top_ten_movie_genre = movie_genres_ratings[['genres','averagerating','studio','year']].sort_values(by = 'averagerating',ascending=False)
Top_ten_movie_genre.head(10)

                           genres  averagerating     studio  year
145                     Adventure            9.2       App.  2010
529                   Documentary            9.2      RAtt.  2017
1766            Documentary,Music            8.8  Trafalgar  2018
410       Action,Adventure,Sci-Fi            8.8         WB  2010
405             Drama,History,War            8.7      Wein.  2012
845           Documentary,History            8.7        NAV  2010
1179                  Drama,Music            8.6        LGF  2018
477   Biography,Documentary,Sport            8.6        PDA  2011
82         Adventure,Drama,Sci-Fi            8.6       Par.  2014
1320                  Drama,Music            8.5        SPC  2014

In [64]:
#get the top_ten movie genres based on number of votes
movie_genres_votes = movie_genres_ratings[['genres','numvotes','studio']].sort_values(by='numvotes', ascending=False)
movie_genres_votes.head(10)

                       genres  numvotes studio
410   Action,Adventure,Sci-Fi   1841066     WB
383           Action,Thriller   1387769     WB
82     Adventure,Drama,Sci-Fi   1299334   Par.
981             Drama,Western   1211405  Wein.
137     Biography,Crime,Drama   1035358   Par.
201          Mystery,Thriller   1005960   Par.
1089  Action,Adventure,Comedy    948394     BV
488   Action,Adventure,Comedy    820847    Fox
423   Action,Adventure,Sci-Fi    795227    LGF
424   Action,Adventure,Sci-Fi    780910     WB

Evaluate the gross collected from the top movie genres

In [69]:
#domestic and foreign gross collected from the top ten movie genres
Top_ten_movie_grosscollected = movies_reviews_and_rating[['genres','averagerating','studio','domestic_gross','foreign_gross']].sort_values(by='averagerating', ascending=False)
Top_ten_movie_grosscollected.head(10)

,genres,averagerating,studio,domestic_gross,foreign_gross
145,Adventure,9.2,App.,3600000.0,1100000.0
529,Documentary,9.2,RAtt.,1800000.0,2700000.0
1766,"Documentary,Music",8.8,Trafalgar,4200000.0,16100000.0
410,"Action,Adventure,Sci-Fi",8.8,WB,292600000.0,535700000.0
405,"Drama,History,War",8.7,Wein.,757000.0,315000.0
845,"Documentary,History",8.7,NAV,26300.0,250000.0
1179,"Drama,Music",8.6,LGF,5700000.0,4300000.0
477,"Biography,Documentary,Sport",8.6,PDA,1600000.0,6600000.0
82,"Adventure,Drama,Sci-Fi",8.6,Par.,188000000.0,489400000.0
1320,"Drama,Music",8.5,SPC,13100000.0,35900000.0

In [70]:
movies_reviews_and_rating.describe()

,start_year,runtime_minutes,averagerating,numvotes,domestic_gross,foreign_gross,year
count,1767.000000,1767.000000,1767.000000,1.767000e+03,1.767000e+03,1.767000e+03,1767.000000
mean,2013.559706,107.895869,6.459706,9.692010e+04,5.008103e+07,7.959582e+07,2013.666101
std,2.621180,20.105904,0.991033,1.539057e+05,8.101089e+07,1.403646e+08,2.572505
min,2010.000000,3.000000,1.600000,5.000000e+00,4.000000e+02,6.000000e+02,2010.000000
25%,2011.000000,95.000000,5.900000,6.392500e+03,1.300000e+06,4.900000e+06,2011.000000
50%,2013.000000,106.000000,6.500000,3.987000e+04,2.110000e+07,2.150000e+07,2014.000000
75%,2016.000000,119.000000,7.100000,1.171330e+05,6.120000e+07,8.195000e+07,2016.000000
max,2019.000000,272.000000,9.200000,1.841066e+06,7.001000e+08,9.464000e+08,2018.000000