PROJECT TITLE

Business Understanding

Problem Statement

Main Objective

Determine the most popluar movie genres with great earnings....

Specific Objectives

1. Identify the top_ten best films
2. Evaluate the revenue of the films to the studios that created them.
3. Identify the success criteria of the films to the movie studios

Import the pandas library

In [17]:
import pandas as pd
import sqlite3
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

Open 'bom.movies_gross.csv' data using pd.read_csv

In [18]:
df = pd.read_csv('bom.movie_gross.csv/bom.movie_gross.csv')

In [19]:
df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

imported SQLITE3 library and opened 'IM.DB' file by query

In [23]:
conn = sqlite3.connect('im.db')

In [26]:
movie_basics = pd.read_sql_query("SELECT* FROM conn)

TypeError: read_sql_query() missing 1 required positional argument: 'con'

In [ ]:
# Load data from SQLite database
conn = sqlite3.connect('im.db')
movie_basics = pd.read_sql_query('SELECT * FROM movie_basics', conn)
movie_ratings = pd.read_sql_query('SELECT * FROM movie_ratings', conn)

DatabaseError: Execution failed on sql 'SELECT * FROM movie_basics': no such table: movie_basics

In [ ]:
movie_basics

NameError: name 'movie_basics' is not defined

In [ ]:
movie_ratings

         movie_id  averagerating  numvotes
0      tt10356526            8.3        31
1      tt10384606            8.9       559
2       tt1042974            6.4        20
3       tt1043726            4.2     50352
4       tt1060240            6.5        21
...           ...            ...       ...
73851   tt9805820            8.1        25
73852   tt9844256            7.5        24
73853   tt9851050            4.7        14
73854   tt9886934            7.0         5
73855   tt9894098            6.3       128

[73856 rows x 3 columns]